.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MyList{list-style: none;display: flex;flex-direction: row-reverse;    justify-content: center;}
button {
  background: #387EF5;    
  border: solid 1px #387EF5;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  font-size: 0.8em;    
  outline: none;
  padding: 10px 50px;
  transition: 300ms all;
  margin-right: 20px
}

button:hover{
  opacity: 0.9;
}
ul{font-size: 30px}


